{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>PyEcoLib</title>
  <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'fontawesome/fontawesome/css/all.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'home/index.js'%}"></script>
</head>

<body>
  <div class="page-wrapper chiller-theme toggled">

    <a id="show-sidebar" class="btn btn-lg" href="#" style="font-size: 3rem;">
      <i class="fa fa-bars"></i>
    </a>

    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="/index">PyEcoLib</a>
          <div id="close-sidebar" style="font-size: 2rem;">
            <i class="fa fa-window-close" width=30px></i>
          </div>
        </div>

        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Documentation</span>
            </li>
            <li>
              <a href="/index">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/installation">
                <i class="fa fa-arrow-down"></i>
                <span>Installing</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-play-circle"></i>
                <span>Get Started</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-code"></i>
                <span>Basic Functions</span>
              </a>
            </li>
            <li class="header-menu">
              <span>Examples</span>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-chart-line"></i>
                <span>Basic Examples</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Size Statistics</a>
                  </li>
                  <li>
                    <a href="#">GeneExpressionDirectSSA</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-globe"></i>
                <span>Advanced Examples</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">NoisyDiv</a>
                  </li>
                  <li>
                    <a href="#">Sizerlike</a>
                  </li>
                  <li>
                    <a href="#">AdvancedSizeStatistics</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <p style="color:white">A PyEcoLib production</p>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
        <img src="{% static 'src/pedrazaLab.png'%}" width="1100">
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <p>PyEcoLib (Python Library for E. coli size dynamics estimation) is
              library to estimate bacterial cell size stochastic dynamics
              including time-continuous growth process and division events.</p>

            <p>Read <a href="https://www.biorxiv.org/content/10.1101/2020.09.29.319152v1">the article</a> presenting the
              library.</p>

            <p>Some of the basic examples</p>

            <ul>
              <li>Estimating stochastic division times of E. coli bacteria with arbitrary precision from measurable
                parameters like growth rate, mean cell size and number of division steps. These times can be coupled to
                any stochastic simulation algorithm for gene expression.</li>
              <li>Estimating numerically the dynamics of the mean and the coefficient of variance of the
                size-distribution for continuously growing and dividing bacteria.</li>
              <li>Computing the trends in added size versus the size at division for different division strategies
                (Adder, timer-like, sizer-like) depending on the parameter equation.</li>
              <li>Including variability in the septal position during cell splitting. This can be used to model the
                molecule segregation.</li>
              <li>Set an arbitrary distribution of initial sizes.</li>
              <li>Set variability in cell-to-cell growth rate.</li>
            </ul>

            <p> You can find the complete code on <a href="https://github.com/SystemsBiologyUniandes/PyEcoLib"
                target="_blank">
                Github.</a></p>
          </div>
          <div class="form-group col-md-auto">
            <iframe
              src="https://ghbtns.com/github-btn.html?user=SystemsBiologyUniandes&repo=PyEcoLib&type=star&count=true&size=small"
              frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
            <iframe
              src="https://ghbtns.com/github-btn.html?user=SystemsBiologyUniandes&repo=PyEcoLib&type=fork&count=true&size=small"
              frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
            <iframe
              src="https://ghbtns.com/github-btn.html?user=SystemsBiologyUniandes&repo=PyEcoLib&type=watch&count=true&v=2"
              frameborder="0" scrolling="0" width="90px" height="30px" title="GitHub"></iframe>
          </div>
        </div>

    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script src="{% static 'home/index.js'%}"></script>
</body>

</html>